body{
  background-color: purple;
}

h1{
  font-size: 30px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-style: normal;
}
p{
  font-size: 15px;
  font-family: "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
}



section{
  float:left;
  margin: 0 1.5%;
  width:33%;
}

aside{
  padding-top:40px;
  float:right;
  margin: 0 1.5%;
  width: 60%;
}

#imgposition{
  float: right;
  position:relative;
  transform: rotate(353deg);
  -ms-transform: rotate(353deg); /* IE 9 */
  -webkit-transform: rotate(353deg); /* Chrome, Safari, Opera */


}
